<!DOCTYPE html>
<html>
  <head>
    <title>CarCatalogue</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <div class="container-fluid">
      <ul class="nav justify-content-end">
        <%= active_link_to 'Home', root_path %>
        <%= active_link_to "#{Car.model_name.human(count: :many)}", cars_path %>
        <%= active_link_to "#{Brand.model_name.human(count: :many)}", brands_path %>
        <%= render "layouts/locale_links" %>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
